<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
    <link rel="stylesheet" href="../static/css/login_style.css">

</head>
<body background="../static/images/hero.png">
    <!-- partial:index.partial.html -->
    <div class="container">
        <div class="welcome">
            <div class="pinkbox">
                <div class="signup nodisplay">
                    <h1>注册</h1>
                    <form autocomplete="off" method="post" action="{{ url_for('client.clientLogin') }}">
                        <input type="hidden" name="action" value="register">
                        <input type="text" name="client_name" placeholder="用户名">
                        <input type="password" placeholder="密码"name="client_password">
                        <input type="password" placeholder="确认密码"name="client_password">

                        <input type="text" placeholder="电话号码"name="client_phone">
                        <div class="checkbox"><input type="checkbox" name="client_sex" value="F" checked="checked"/>女生
                        <input type="checkbox" name="client_sex" value="M" />男生</div>
                        <button class="button submit">创建账户 </button>
                    </form>
                </div>
               <div class="signin">
                    <h1>登录</h1>
                    <form class="more-padding" autocomplete="off" method="post" action="{{ url_for('client.clientLogin') }}">
                        <input type="hidden" name="action" value="login">
                        <input type="text" placeholder="用户ID" name="client_id">
                        <input type="password" placeholder="密码" name="client_password">
                        <div class="checkbox">
                            <input type="checkbox" id="remember" /><label for="remember">记住我</label>
                        </div>
                        <button class="button submit" type="submit">登录</button>
                        
                    </form>
                </div>
            </div>
            <div class="leftbox">
                <h2 class="title"><span>BLOOM</span>&<br>BOUQUET</h2>
                <p class="desc">选择你最喜欢的<span>鲜花</span></p>
                <img class="flower smaller" src="../static/images/login/1.jpg" alt="1357d638624297b" border="0">
                <p class="account">已经有账号了?</p>
                <button class="button" id="signin">登录</button>
            </div>
            <div class="rightbox">
                <h2 class="title"><span>BLOOM</span>&<br>BOUQUET</h2>
                <p class="desc">选择你最喜欢的<span>鲜花</span></p>
                <img class="flower" src="../static/images/login/2.jpg" />
                <p class="account">还没有账号?</p>
                <button class="button" id="signup">注册</button>
            </div>
        </div>
    </div>

    <!-- partial -->
    <script src='../static/js/jquery.min.js'></script>
    <script src="../static/js/script.js"></script>
</body>
</html>
